body {
    text-align: center;
}

#like,
#dislike {
    padding: 0 5%;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

h1,
h2 {
    color: #626262;
}

#submit,
#clear {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    width: 100px;
    background-color: #626262;
    color: white;
    border-radius: 4px;

}

#comments {
    margin-top: 3%;
}

h3 {
    margin-bottom: 1.5%;
}

#comment {
    margin: 0 35%;
    width: 35%;
    height: 100px;
    padding: 10px;
    font-size: 15px;
    border-radius: 1px solid #626262;
    border-radius: 5px;
    display: block;
}

p {
    font-size: 30px;
}

/* the aminations were done withe the help of chatgpt, though I modified it, played with it and understood it. */

#like:hover {
    background-color: rgb(77, 224, 109);
}

#dislike:hover {
    background-color: rgb(224, 99, 77);
}

.bounce1 {
    animation: bounce-animation1 0.3s ease;
}

.bounce2 {
    animation: bounce-animation2 0.3s ease;
}


@keyframes bounce-animation1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce-animation2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}